/* adaptions for phones vs desktops, c.2017+ */
@media screen and (max-aspect-ratio: 1/1) {
  #network {
    height: 45vh;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  #network {
    height: 65vh;
  }
}

#network {
  float: right;
}

#physics-toggle {
  float: right; 
  display: none;
  font-size: 0.6em;
  position: relative;
  right: 0;
}

#scroll-toggle {
  float: right;
  display: block;
  font-size: 0.6em;
  position: relative;
  right: 0;
}

#dice-toggle {
  float: right;
  display: block;
  font-size: 0.6em;
  position: relative;
  right: 0;
}

/* hide the checkbox for the zoom mode */
#physics-toggle input {
  display: none;
}

#scroll-toggle input {
  display: none;
}

#dice-toggle input {
  display: none;
}


/* make the label bold if the option is enabled */
#scroll-toggle.click-to-use-disabled label {
  text-decoration: none;
  font-weight: 600;
  color: var(--content);
}

#scroll-toggle.click-to-use-enabled label {
  font-weight: 300;
  color: var(--secondary);
}

#scroll-toggle label:hover {
  font-weight: 600;
}



/* make the label bold if the dice option is enabled */
#dice-toggle.dice-enabled label {
  text-decoration: none;
  font-weight: 600;
  color: var(--content);
}

#dice-toggle.dice-disabled label {
  font-weight: 300;
  color: var(--secondary);
}

#dice-toggle label:hover {
  font-weight: 600;
}



/* make the label bold if the physics option is enabled */
#physics-toggle.physics-enabled label {
  text-decoration: none;
  font-weight: 600;
  color: var(--content);
}

#physics-toggle.physics-disabled label {
  font-weight: 300;
  color: var(--secondary);
}

#physics-toggle label:hover {
  font-weight: 600;
}


/* flex this to the width of the network */
#network-settings {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}


