/* adaptions for phones vs desktops, c.2017+ */
@media screen and (max-aspect-ratio: 1/1) {
  #network {
    height: 45vh;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  #network {
    height: 60vh;
  }
}

#network {
  float: right;
}

.vis-network {
  border-radius: var(--radius); 
  height: 100%;
  width: 100%;
}
.vis-active {
  box-shadow: 0 0 2px var(--content);
}

#physics-toggle,
#scroll-toggle,
#use-rng-toggle {
  display: block;
  font-size: 0.6em;
  position: relative;
  padding: 0 var(--radius);
}

#physics-toggle {
  display: /*none;*/ block;
}

/* hide the checkboxes */
#physics-toggle input,
#scroll-toggle input,
#use-rng-toggle input {
  display: none;
}

/* make the label bold if the option is enabled */
#physics-toggle.physics-enabled label,
#scroll-toggle.click-to-use-enabled label,
#use-rng-toggle.use-rng-enabled label {
  text-decoration: none;
  font-weight: 600;
  color: var(--content);
}

#physics-toggle.physics-disabled label,
#scroll-toggle.click-to-use-disabled label,
#use-rng-toggle.use-rng-disabled label {
  font-weight: 300;
  color: var(--secondary);
}

#physics-toggle label:hover,
#scroll-toggle label:hover,
#use-rng-toggle label:hover {
  color: var(--primary);
}

/* hide the checkboxes */
#physics-toggle input,
#scroll-toggle input,
#use-rng-toggle input {
  display: none;
}

/* make the label bold if the option is enabled */
#scroll-toggle.click-to-use-enabled label {
  text-decoration: none;
  font-weight: 600;
  color: var(--content);
}

/* flex this to the width of the network */
#network-settings {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}