<footer class="footer site-footer">
    <div class="site-footer-content">
        <div class="site-footer-copyright">
            {{- if site.Copyright }}
            {{ site.Copyright | markdownify }}
            {{- else }}
            &copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a>
            {{- end }}
        </div>
        {{- with site.Params.sitefooter.items }}
            {{- partial "util/balanced_sequence.html" (dict
              "id" "site-footer-tools"
              "class" "site-footer-tools"
              "link_class" "secondary-action"
              "tag" "div"
              "align" "center"
              "items" .
            ) }}
        {{- end }}
    </div>
</footer>
{{ partial "util/balancer_script.html" . }}
