{{ $nodesPath := .Get "nodesPath" }}
{{ $edgesPath := .Get "edgesPath" }}
{{ $simPath := .Get "simPath" }}


<link rel="stylesheet" href="/css/network.css">

<div id="network"
  data-nodes-path={{ $nodesPath }} 
  data-edges-path={{ $edgesPath }}
  data-sim-path={{ $simPath }}
></div>
<div id="network-settings">
  <div id="physics-toggle">
    <label for="physics">
      physics
    </label>
    <input type="checkbox" id="physics" checked>
  </div>
  <div id="use-rng-toggle">
    <label for="use-rng">
      rng salt
    </label>
    <input type="checkbox" id="use-rng" checked>
  </div>
  <div id="scroll-toggle">
    <label for="click-to-use">
      zoom lock
    </label>
    <input type="checkbox" id="click-to-use" checked>
  </div>
</div>

<script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="/js/flavor-network.js"></script>
