{{ $jsonPath := .Get "jsonPath" }}

<canvas id="mychart"></canvas>

<style>
    #mychart {
        width: 100%;
        height: calc(50vw * 0.5);
    }    
</style>

<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>

// Material Design color palette (RGB values)
const colorPalette = [
    'rgb(31, 119, 180)', // blue
    'rgb(255, 127, 14)', // orange
    'rgb(44, 160, 44)', // green
    'rgb(214, 39, 40)', // red
    'rgb(148, 103, 189)', // purple
    'rgb(140, 86, 75)', // brown
    'rgb(227, 119, 194)', // pink
    'rgb(127, 127, 127)', // gray
    'rgb(188, 189, 34)', // yellow
    'rgb(23, 190, 207)'  // light blue
  ];

// Function to generate colors for the datasets
function generateColors(numDatasets) {
  const colors = [];
  for (let i = 0; i < numDatasets; i++) {
    // Make the colors have a bit of transparency if there are more than 1 dataset,
    const colorIndex = i % colorPalette.length;
    //colors.push(colorPalette[colorIndex].replace(')', ', 0.5)').replace('rgb', 'rgba'));
    // TODO: don't let bars be transparent if they don't overlap
    // Make the colors have a bit of transparency if there are more than 1 dataset,
    // but not if the bars don't overlap
    if (numDatasets > 1) {
       colors.push(colorPalette[colorIndex].replace(')', ', 0.5)').replace('rgb', 'rgba'));
    } else {
      colors.push(colorPalette[colorIndex]);
    }
  }
  return colors;
}

function createChart(data, colors) {
  const datasetColors = generateColors(data.datasets.length);
  const ctx = document.getElementById('mychart').getContext('2d');
  const chart = new Chart(ctx, {
    type: 'bar',
    display: 'flex',
    // associate a label and a color to each dataset
    data: {
      labels: data.labels,
      datasets: data.datasets.map((dataset, i) => ({
        label: dataset.label,
        data: dataset.data,
        backgroundColor: datasetColors[i],
        categoryPercentage: 1.0,
        barPercentage: 1.0,
      }))
    },
    
    options: {
      // when there is more than one dataset, don't put the bars side by side
      responsive: true,
      maintainAspectRatio: false,
      barSpacing: 0,
      stacked: true,
      scales: {
        xAxes: [{
            stacked: true,
        }],
        yAxes: [{
          ticks: {
            beginAtZero: true,
            callback: value => value % 1 === 0 ? value : null
          }
        }],
      },
      legend: {
        display: data.datasets.length > 1,
        position: 'bottom',
        generateLabels: chart => {
          const labels = chart.data.labels;
          const datasets = chart.data.datasets;
          return labels.map((label, i) => {
            const meta = chart.getDatasetMeta(0);
            const style = meta.controller.getStyle(i);
            return {
              text: `${label} (${style.backgroundColor})`,
              fillStyle: style.backgroundColor,
              strokeStyle: style.borderColor,
              lineWidth: style.borderWidth,
              hidden: isNaN(datasets[0].data[i]) || meta.data[i].hidden,
              index: i
            };
          });
        }
      },
      elements: {
        // Apply the colors to the rectangles
        rectangle: {
          backgroundColor: datasetColors,
          borderColor: datasetColors,
          borderWidth: 1,
        }        
      }
    }
  });
}

// Load the data from the JSON file
console.log('Loading data from:', "{{ $jsonPath }}");
fetch("{{ $jsonPath }}")
  .then(response => response.json())
  .then(data => {
    console.log('Data loaded:', data);
    const ingredients = ['tomatoes', 'apples', 'bananas']
    const labels = ingredients;
    const filteredData = {
      labels: data.labels,
      datasets: data.datasets.filter(dataset => labels.includes(dataset.label))
    };
    console.log('selectedResults:', ingredients);

    //filterHistogramData(labels);
    createChart(filteredData, generateColors(filteredData.datasets.length));

});

async function filterHistogramData(selectedResults) {
  // Make a request to the JSON file and get the data
  const response = await fetch('/path/to/json/file');
  const json = await response.json();
  // Filter the data based on the selected results
  const filteredData = json.filter(item => selectedResults.includes(item.id));
  // Update the chart with the filtered data
  chart.data.datasets = filteredData.map((dataset, i) => ({
    label: dataset.label,
    data: dataset.data,
    backgroundColor: datasetColors[i],
  }));
  chart.update();
}

</script>
