{{- $section := .Get "section" -}}

<div class="menu-archive-shortcode">
<ul class="menu-archive-list">
  {{- with site.GetPage (print "recipes/" $section) }}
    {{- range .Pages.ByDate.Reverse }}
      <li class="menu-archive-item" data-menu-date="{{ .Date | time.Format "2006-01-02" }}">
        {{- $headers := findRE `(?m)^###\s+(.+)` .RawContent }}
        {{- $cleaned := slice }}
        {{- range $headers }}
          {{- $line := trim (replace (replace . "###" "") "\\" "") " " }}
          {{- if ne $line "" }}
            {{- $cleaned = $cleaned | append $line }}
          {{- end }}
        {{- end }}
        <a href="{{ .RelPermalink }}" class="menu-archive-compact">
          <span class="menu-archive-title">{{ .Title }}</span>
          {{- if gt (len $cleaned) 0 }}
            <span class="menu-archive-preview">{{ delimit $cleaned ", " }}</span>
          {{- end }}
        </a>
        {{- partial "season_menu_link.html" (dict "Page" . "Class" "season-menu menu-archive-expanded") }}
      </li>
    {{- end }}
  {{- end }}
</ul>
</div>
